@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group mb-3">
    <input type="text" class="form-control" id="descricao" placeholder="Buscar produtos" arial-label="Buscar produtos" arial-description="" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="buscar">Buscar</button>
    </div>
</div>

<div class="row" id="divVenda">

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

